
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient( to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  ), url("/earthbg.jpg");

  /* height: 100%; */
  /* min-height: 100vh; */
  /* max-width: 100vw; */
  background-size: cover;
  background-attachment: fixed;
  overflow-x:hidden; /* Gets rid of horizontal scroll */
  /* background-position: center; */
  
}

.hiddenElement{
  display: none;
}

/* .apodImg{
  max-width: 10%;
} */